@model IEnumerable<UniversityManagementSystem.Models.DataAccess.teacher>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
    <link rel="stylesheet" href="~/Content/Css/dashboardstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <input type="checkbox" id="check">
    <!---header-->
    <header>
        <label for="check">
            <i class="fa fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left-area">
            <h3>Student <span>Profile</span></h3>
        </div>
        <div class="right-area">
            <ul class="navbar">
                <li>  <a href="/logout" class="logout_btn">Logout</a></li>
                <li>
                    <a href="#" class="logout_btn">Edit Tradition</a>
                    <ul class="next">
                        <li><a href="edit_feature.php" class="logout_btn">Edit Feature</a></li>

                    </ul>
                </li>
                <li>
                    <a href="" class="logout_btn">Add Performance</a>
                    <ul class="next">
                        <li><a href="/file_upload" class="logout_btn">Photography</a></li>
                        <li><a href="offeradd.php" class="logout_btn">Add Offer</a></li>
                        <li><a href="addchefs.php" class="logout_btn">Chefes Profile</a></li>
                        <li><a href="addnews.php" class="logout_btn">LatestNews</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="logout_btn">Add Photo</a>
                    <ul class="next">
                        <li><a href="addslide.php" class="logout_btn">Add Slider</a></li>

                        <li><a href="gellarypic.php" class="logout_btn">Add Gellary</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </header>

    <!---sidebar-->

    <div class="sidebar">
        <center>



            <img src="" class="profile-img" alt="">
            <h4>@Session["name"]</h4>

        </center>
        <a href="/studentDashboard"><i class="fa fa-desktop" aria-hidden="true"></i><span>Dashboard</span></a>



    </div>

    <div class="content">
        <div class="tableshow1">
            <table>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>Faculty Name :</td>
                        <td>@item.tname</td>
                    </tr>

                    <tr>
                        <td>Faculty Dept :</td>
                        <td>@item.department</td>
                    </tr>

                    <tr>
                        <td>Faculty Phone :</td>
                        <td>@item.phone</td>
                    </tr>


                }

                </table>

          </div>
        </div>
</body>
</html>